<p><%= link_to "Check out the venues", venues_path %></p>
<p><%= link_to "Check out the bands", bands_path %></p>
<p><%= link_to "Check out the events", band_events_path %></p>
<p><%= link_to "Add a new venue", new_venue_path %></p>
<p><%= link_to "Add a new band", new_band_path %></p>
